body {
  background-image: url("./images/bg.jpeg") ;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

section {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  margin-top: 11.9%;
  position: absolute;
}

.image-box {
  display: flex;
  position: absolute;
  text-align: center;
}

img{
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.3vw;
}

.day {
  margin-top: 26.5vw;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-weight: bolder;
}

.date {
  margin-top: -2.22vw;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-weight: bolder;
}

.dayanddate {
  display: block;
  text-align: center;
  position: absolute;
  font-size: 48px;
}

.month {
  font-family: "Varela Round", sans-serif;
  margin-top: 41vw;
}

.year {
  font-family: "Varela Round", sans-serif;
  margin-top: 41vw;
}

.monthandyear {
  display: flex;
  text-align: center;
  position: absolute;
  font-size: 24px;
}

table {
  display: flex;
  margin-top: 46vw;
  font-family: "Varela Round", sans-serif;
  font-weight: lighter;
  align-items: center;
  margin-left: 18px;
  margin-right: auto;
  margin-bottom: 20px;
}

#table {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.right {
  margin-left: 5vw;
  height: 60px;
  margin-top: 50vw;
  margin-bottom: 4vw;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  width: 60px;
}

.left {
  margin-right: 5vw;
  height: 60px;
  margin-top: 50vw;
  margin-bottom: 4vw;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  width: 60px;
}